<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.zxbtabbedApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.tabbedApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a tab bar. It provides a user interface configured with a tab bar controller, and view controllers for the tab bar items.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>Info.plist:statusBarTintForNavBar</string>
		<string>Macro/UtilsMacro.h</string>
		<string>General/Utils/XMLReader.h</string>
		<string>General/Utils/XMLReader.m</string>
		<string>General/Utils/NSObject+NSJSONSerialization.h</string>
		<string>General/Utils/NSObject+NSJSONSerialization.m</string>
		<string>General/Utils/GeneralFuncUtil.h</string>
		<string>General/Utils/GeneralFuncUtil.m</string>
		<string>Models/.gitkeep</string>
		<string>Manager/.gitkeep</string>
		<string>Request/.gitkeep</string>
		<string>Vendors/.gitkeep</string>
		<string>ViewController/.gitkeep</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>Macro/UtilsMacro.h</key>
		<dict>
			<key>Group</key>
			<string>Marco</string>
			<key>Path</key>
			<string>Macro/UtilsMacro.h</string>
		</dict>
		<key>General/Utils/XMLReader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>.General/Utils/XMLReader.h</string>
		</dict>
		<key>General/Utils/XMLReader.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>.General/Utils/XMLReader.m</string>
		</dict>
		<key>General/Utils/NSObject+NSJSONSerialization.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>.General/Utils/NSObject+NSJSONSerialization.h</string>
		</dict>
		<key>General/Utils/NSObject+NSJSONSerialization.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>.General/Utils/NSObject+NSJSONSerialization.m</string>
		</dict>
		<key>General/Utils/GeneralFuncUtil.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>.General/Utils/GeneralFuncUtil.h</string>
		</dict>
		<key>General/Utils/GeneralFuncUtil.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>General</string>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>.General/Utils/GeneralFuncUtil.m</string>
		</dict>
		<key>Models/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Models</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>Manager/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Manager</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>Request/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Request</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>Resources/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>Vendors/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Vendors</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
		<key>ViewController/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>ViewController</string>
			<key>Path</key>
			<string>gitkeep</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>FirstViewController.h:comments</string>
						<string>FirstViewController.h:imports:importCocoa</string>
						<string>FirstViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>FirstViewController.m:comments</string>
						<string>FirstViewController.m:imports:importHeader:FirstViewController.h</string>
						<string>FirstViewController.m:extension</string>
						<string>FirstViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>FirstViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>FirstViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>FirstViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>SecondViewController.h:comments</string>
						<string>SecondViewController.h:imports:importCocoa</string>
						<string>SecondViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>SecondViewController.m:comments</string>
						<string>SecondViewController.m:imports:importHeader:SecondViewController.h</string>
						<string>SecondViewController.m:extension</string>
						<string>SecondViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>SecondViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>SecondViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>SecondViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>FirstViewController.swift:comments</string>
						<string>FirstViewController.swift:imports:importCocoa</string>
						<string>FirstViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>FirstViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>FirstViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>FirstViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>FirstViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>SecondViewController.swift:comments</string>
						<string>SecondViewController.swift:imports:importCocoa</string>
						<string>SecondViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>SecondViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>SecondViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>SecondViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>SecondViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPhone.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPad.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
				</dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-Universal.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
